<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" href="../CSS/Global.css" th:href="@{/CSS/Global.css}">
  <link rel="stylesheet" type="text/css" href="../CSS/Home.css" th:href="@{/CSS/Home.css}">

  <title>Home Page</title>
</head>
<body>

	<div class="Logout">
		<a href="" th:href="@{/Logout}">Logout</a>
	</div>

    <h1>Your folders are always safe!</h1>
    
    <div class="General">
      <!-- Welcome Message -->
      <h6 th:text="${'Nice to see you again,' + ' ' + session.user.name + ' ' + session.user.surname}">Felice di rivederti, Matteo Luppi</h6>
  
      <h5 th:if="${foldersTree.isEmpty()}">You haven't created a folder yet</h5>
      
      <!-- If the user is moving a document -->
      <div class="MoveDoc" th:if="${moveDoc}">
        <p th:text="${moveDoc}">Stai spostando...</p>
        <ul>
          <li th:each="fold : ${foldersTree}"
            th:insert="@{WEB-INF/Fragments/ListFolder.html} :: list_and_docId (fold,${document})">
          </li>
        </ul>
      </div>
	  
	  <!-- If the user is not moving a document.He sees simply the folders Tree -->
      <div th:unless="${moveDoc}">
        <ul>
          <li th:each="fold : ${foldersTree}"
            th:insert="@{WEB-INF/Fragments/ListFolder.html} :: list (fold)">
          </li>
        </ul>
        <!-- Link to add content -->
        <a href="" th:href="@{/ContentManagementPage}">Add content</a>
      </div>
      
    </div>
</body>
</html>
