<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<!-- General case -->
	<div th:fragment="list(fold)">
		<div>
			<span th:text="${fold.name}"></span>
			<ul>
				<li th:each="subFold : ${fold.subFolders}"
				    th:insert="@{WEB-INF/Fragments/ListSubFolder.html} :: sublist (subFold)">
				</li>
			</ul>
		</div>
	</div>

	<!-- If the user is moving a document -->
	<div th:fragment="list_and_docId(fold,doc)">
		<div>
			<span th:text="${fold.name}"></span>
			<ul>
				<li th:each="subFold : ${fold.subFolders}"
				    th:insert="@{WEB-INF/Fragments/ListSubFolder.html} :: sublist_and_docId (subFold,${doc})">
				</li>
			</ul>
		</div>
	</div>
    
</body>
</html>
