.login-div{
    position: absolute; 
    right: 25rem;
    left: 25rem;
    top: 8rem;
    bottom: 5.5rem;
    border: solid 2px #9163cb; 
    border-radius: 20px;
    text-align: center; 
    padding: 2rem;
    z-index: 100;
    background-color: #e0d9d2;
}
.login-div.h5{
    text-align: center;
}
h1{
    margin-top: 2rem;
    text-align: center;
}
.login-div.a{
    color: blue;
}
.form-group-form-size{
    width: 400px;
    margin: auto;
    padding: auto;
    margin-bottom: 0.1cm;
}
.text-center{
    text-align: center;
}
.error-message{
    margin-top: 0.35cm;
}
.error-message > p{
    color: red;
    font-style: italic;
}
